* {   
  font-family: "Libre Baskerville", serif;
  
 }
 body{
  background-image: linear-gradient( to right, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
 }

.nav {
   height: 53px;
   width: 100%;
   background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
   position: relative;
   }
 
 .nav > .nav-header {
   display: inline;
 }
 
 .nav > .nav-header > .nav-title {
   display: inline-block;
   font-size: 22px;
   color: #fff;
   padding: 10px 10px 10px 10px;
 }
  
 .nav > .nav-links {
   display: inline;
   float: right;
   font-size: 18px;
 }
 
 .nav > .nav-links > a {
   display: inline-block;
   padding: 13px 10px 13px 10px;
   text-decoration: none;
   color: #efefef;
 }
 
 .nav > .nav-links > a:hover {
   background-color: rgba(0, 0, 0, 0.3);
 }
 
  
 @media (max-width:600px) {
   .nav > .nav-btn {
     display: inline-block;
     position: absolute;
     right: 0px;
     top: 0px;
   }
   .nav > .nav-btn > label {
     display: inline-block;
     width: 50px;
     height: 50px;
     padding: 13px;
   }
   .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
     background-color: rgba(0, 0, 0, 0.3);
   }
   .nav > .nav-btn > label > span {
     display: block;
     width: 25px;
     height: 10px;
     border-top: 2px solid #eee;
   }
   .nav > .nav-links {
     position: absolute;
     display: block;
     width: 100%;
     background-color: #333;
     height: 0px;
     transition: all 0.3s ease-in;
     overflow-y: hidden;
     top: 50px;
     left: 0px;
   }
   .nav > .nav-links > a {
     display: block;
     width: 100%;
   }
   .nav > #nav-check:not(:checked) ~ .nav-links {
     height: 0px;
   }
   .nav > #nav-check:checked ~ .nav-links {
     height: calc(100vh - 50px);
     overflow-y: auto;
   }
 }

 h1 { color: #0584b2;  
  font-size: 165px; line-height: 160px; 
  font-weight: normal; margin-bottom: 0px; 
  margin-top: 40px; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; }


p { color: #7a7c7f; 
  font-size: 20px; 
  font-family: "Libre Baskerville", serif;    
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
  padding-top: 10px; }

#tiles{
  color: #fff;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: clip;
  background-image: url("https://c0.wallpaperflare.com/preview/452/466/365/black-and-white-black-and-white-boat-darkness.jpg");
}
#white{
  text-decoration-color: #0584b2;
  text-decoration: solid;
  text-decoration: double;
  text-shadow: 5px 5px 5px #0584b2;
  color:  #fff;
}
#center{
  text-align: left;
}
#border{
  border-style: solid;
  border: #d3e8f0;

}